{% extends 'base.html' %}
{% block title %}{{ entry.title }}{% endblock %}
{% block extra_scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='javascripts/comments.js') }}"></script>
	<script type="text/javascript">$(function(){
		Comments.load({{ entry.id }}); 
		Comments.bindHandler(); 
	});
	</script>
{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block sidebar %}
	<ul class="well nav nav-list">
		<li><h4>Tags</h4></li>
		{% for tag in entry.tags %}
			<li><a href="{{ url_for('entries.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a></li>
		{% endfor %}
		{% if g.user == entry.author %}
			<li><h4>Actions</h4></li>
			<li><a href="{{ url_for('entries.edit', slug = entry.slug) }}">Edit</a></li>
			<li><a href="{{ url_for('entries.delete', slug = entry.slug)}}">Delete</a></li>
		{% endif %}
	</ul>
	<p>Published {{ entry.created_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</p>
{% endblock %}

{% block content %}
	{{ entry.body }}

	<h4 id="comment-form">Submit a comment</h4>
	{% include "includes/comment_form.html" %}
{% endblock %}